


body{
  background: #006cf1;
}


.btn{
  font-family: 'Sniglet', cursive;
  background-color: white;
  color: purple;
}

.btn-warning{
    font-family: 'Sniglet', bold;
}

a{
  text-decoration: none;
}

p{
  text-align: center;
font-family: 'Sniglet', cursive;
font-size: 20px;
color: white;
}

h1{
  text-align: center;
font-family: 'Sniglet', cursive;
font-size: 160px;
margin-top: 1em;
color: orange;
}


h1:hover  {
      color:red;
}




.homesubtitle{
  text-align: center;
  vertical-align: center;
font-family: 'Sniglet', cursive;
font-size: 30pt;
color: #f200d5;
margin-left: 4em;
margin-right: 4em;
}

.homexplanation{
  text-align: center;
  vertical-align: center;
  font-family: 'Sniglet', cursive;
  font-size: 20pt;
  color: #54ff9f;
  margin-left: 4em;
  margin-right: 4em;
}

.imgclass{
  height: 200px;
}

.imgclass:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.imgwrapper{
  position: absolute;
  text-align: center;
}

#first {
  position: absolute;
  bottom: 200px;
  left: 100px;
}

#second {
  position: absolute;
  bottom: 300px;
  left: 1000px;
}

#third {
  position: absolute;
  top: 0px;
  left: 350px;
}

#fourth {
  position: absolute;
  top: 150px;
  left: 600px;
}

#fifth {
  position: absolute;
  top: 0px;
  left: 800px;
}

#sixth {
  position: absolute;
  top: 0px;
  left: 100px;
}

#seventh {
  position: absolute;
  bottom: 0px;
  left: 1250px;
}

#eight {
  position: absolute;
  bottom: 300px;
  left: 600px; 
}
