
.home{
  background-color: #006cf1;
}

a{
  text-decoration: none;
}

a:hover{
  color: red;
}

.title{
  color: orange;
}

.hometitle{
  text-align: center;
font-family: 'Sniglet', cursive;
font-size: 160px;
margin-top: 2em;
}

.homesubtitle{
  text-align: center;
  vertical-align: center;
font-family: 'Sniglet', cursive;
font-size: 30pt;
color: #f200d5;
margin-left: 4em;
margin-right: 4em;
}

.homexplanation{
  text-align: center;
  vertical-align: center;
font-family: 'Sniglet', cursive;
font-size: 20pt;
color: #54ff9f;
margin-left: 4em;
margin-right: 4em;
}

.imgclass{
  height: 200px;
}

.imgclass:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

#first {
  padding-left: 5%;
}

#second {
padding-left: 30%;
}

.imgwrapper{
  text-align: center;
}


/*display: inline-block;*/


/*
#third {
  position: absolute;
  vertical-align: bottom;
}

#fourth {
  position: absolute;
vertical-align: top;
}

#fifth {
  position: absolute;
  vertical-align: center;
}

#sixth {
  position: absolute;
  vertical-align: center;
}

#seventh {
  position: absolute;
  vertical-align: center;
}

#eight {
  position: absolute;
  vertical-align: center;
} */
